.MyPokemon {
    width: 200px;
    opacity: 1;
    display: block;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.name {
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    mix-blend-mode: overlay;
    margin-top: -39px;
    color: #C71585;
}

.spriteImg {
    width: 200px;
}

.sprite {
    transition: 2s ease;
    opacity: 0;
    position: absolute;
    transform: translate(35%, -100%);
    -ms-transform: translate(30%, -100%);
}

.holder:hover .MyPokemon {
    opacity: 0.3;
}

.holder:hover .sprite {
    opacity: 1;
}